body {
    background-color: #fff;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}

.bold {
    font-weight:600;
    color: #616161;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 30px;
}

h3 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

p {
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
}

small {
    color: #999;
    line-height: 1;
    font-size: 12px;
}



.arrow {
    border-top: 5px solid rgba(249, 160, 33, 0.9)!important;
}

.popover-inner {
    padding: 1px;
    width: 200px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    background-color: rgba(249, 160, 33, 0.9);
    border: 1px solid rgba(186, 111, 4, 0.1);
}

.popover-title {
    display: none;
}

.content-box {
    margin-top: 20px;
}

.popover-content {
    padding: 10px;
    background-color: rgba(249, 248, 242, 1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="text"] {
    max-width: 280px;
}
input[type="text"]:focus {
    border-color: rgba(249, 160, 33, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 160, 33, 0.6);
}
@media (max-width: 979px) {
    input[type="text"], input[type="submit"] {
        margin-bottom: 8px;
    }
}
@media (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    }
}

.tagline {
    font-size: 1.1em;
    font-style: italic;
}

.btn {
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 760px) {
body #hellobar-wrapper,
body #hellobar-pusher {
display: none !important;
}
}